/* h1 size == h2 size */
.book .book-body .page-wrapper .page-inner section.normal h1 {
    font-size: 1.75em;
}

.book .book-body .page-wrapper .page-inner section.normal h1:only-child {
    font-size: 4em;
    text-align: center;
    padding: 1em 0;
}

.book .book-body .page-wrapper .page-inner section.normal h2:only-child {
    font-size: 3em;
    text-align: center;
    padding: 1em 0;
}

/**/
.book .book-body .page-wrapper .page-inner section.normal h1, .book .book-body .page-wrapper .page-inner section.normal h2, .book .book-body .page-wrapper .page-inner section.normal h3, .book .book-body .page-wrapper .page-inner section.normal h4, .book .book-body .page-wrapper .page-inner section.normal h5, .book .book-body .page-wrapper .page-inner section.normal h6 {
    margin-bottom: 0.1em;
}

/* expand width of inner*/
.page-inner {
    max-width: 85% !important;
}

/*
Deckset like notation

![right](img.png)
![left](img.png)
*/
.book .book-body .page-wrapper .page-inner section.normal img[alt *="right"] {
    float: right;
    margin-left: 1.1em;
    /* max image width */
    max-width: 55%;
}

.book .book-body .page-wrapper .page-inner section.normal img[alt *="left"] {
    float: left;
    margin-right: 1.1em;
    /* max image width */
    max-width: 55%;
}

/* img[left] img[right*/
.book .book-body .page-wrapper .page-inner section.normal img[alt *="left"] + img[alt *="right"] {
    box-sizing: border-box;
    margin-left: 0;
    max-width: 40%;
}

.book .book-body .page-wrapper .page-inner section.normal img[alt *="center"] {
    margin: 0 auto;
    display: block;
}